/event-alert/.idea
.DS_Store
.idea/
event-alert/.DS_Store
event-alert/events-app/.DS_Store
event-alert/events-app/src/.DS_Store
event-alert/events-app/src/main/.DS_Store
event-alert/events-app/src/main/java/.DS_Store
event-alert/events-app/src/main/java/com/.DS_Store
event-alert/events-app/src/main/java/com/projects/.DS_Store
event-alert/events-app/src/test/java/com/.DS_Store